1. Change "WC Code" to "HG Code" in all locations - [Done]

2. Add a field on the add-product page for "PLT Code". Make it optional. See 1.png. - [TODO: DONE]

3. Put the "PLT Code" in the spreadsheet export like in the "sample export.xlsx". - [TODO: DONE]

4. Truncate the decimals on all the inventory numbers (or round down to nearest integer) and add a comma for thousands. - [TODO: DONE]

5. On the Products page and the Price List > View, clean up the columns so that there is equal spacing to make it easier to read and remove the image column. Try centering the column titles and contents. - [TODO: DONE]
