<%- include('partials/head.ejs') %>
<div class="container">
  <h1>Customers</h1>
  <a href="/add_customer" class="my-3"><button class="btn btn-primary">Add a Customer</button></a>
  <div class="my-3">
    
    <ul>
      <%=  %>
      <li>
      </li>
    </ul>
    
  </div>
</div>

<%- include('partials/foot.ejs') %>